.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px) brightness(70%);
    z-index: 3;

    .inner {
        position: relative;

        .close-btn {
            position: absolute;
            left: 50%;
            bottom: -50px;
            fill: white;
            font-size: 40px;
            cursor: pointer;
            transform: translateX(-50%);
        }
    }
}