.Header {
    position: sticky;
    top: -1px;
    background-color: #fff;
    z-index: 2;

    h1 {
        margin-bottom: 0;
    }

    .add-btn {
        position: absolute;
        left: 20px;
        bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: solid 1px;
        padding: 5px 10px;
        background-color: #fff;
        cursor: pointer;
    }
}